<img src="${ tacs.root }images/house-01.avif" width="1600" height="900" alt="Old Pines 5-bed house" loading="eager" class="ss-tbsubtle" />

<img src="${ tacs.root }images/house-kitchen-01.avif" width="1600" height="900" alt="Old Pines 5-bed house - self-catering kitchen" loading="lazy" class="ss-bt" />

<img src="${ tacs.root }images/house-bedroom-04.avif" width="1600" height="900" alt="Old Pines 5-bed house - double bedroom" loading="lazy" class="ss-tb" />

<img src="${ tacs.root }images/house-landing-02.avif" width="1600" height="900" alt="Old Pines 5-bed house -landing" loading="lazy" class="ss-bltr" />

<img src="${ tacs.root }images/house-bedroom-05.avif" width="1600" height="900" alt="Old Pines 5-bed house - double bedroom" loading="lazy" class="ss-trbl" />

<img src="${ tacs.root }images/house-bathroom-03.avif" width="1600" height="900" alt="Old Pines 5-bed house - en-suite bathroom" loading="lazy" class="ss-brtl" />
