<video autoplay playsinline muted loop preload="auto" poster="${ tacs.root }videos/cook-fish-01.avif" data-rate="0.5">
  <source src="${ tacs.root }videos/cook-fish-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/cook-fish-01h.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/food-05.avif" width="1600" height="900" alt="Old Pines Restaurant main course" loading="lazy" class="ss-subtle" />

<video playsinline muted preload="metadata" poster="${ tacs.root }videos/cook-meat-01.avif" data-rate="0.5" class="ss-tbbasic">
  <source src="${ tacs.root }videos/cook-meat-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/cook-meat-01h.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/food-02.avif" width="1600" height="900" alt="Old Pines Restaurant dessert" loading="lazy" class="ss-tbsubtle" />
