<video autoplay muted preload="auto" data-rate="0.5" class="ss-tbsubtle">
  <source src="${ tacs.root }videos/glenfinnan-viaduct-01h.webm" type="video/webm" media="(width > 800px) and (height > 800px)">
  <source src="${ tacs.root }videos/glenfinnan-viaduct-01l.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/scotland-01.avif" width="1600" height="900" alt="Scottish Highlands" class="ss-bt" loading="lazy" />

<video muted data-rate="0.7">
  <source src="${ tacs.root }videos/castle-01h.webm" type="video/webm" media="(width > 800px) and (height > 800px)">
  <source src="${ tacs.root }videos/castle-01l.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/scotland-02.avif" width="1600" height="900" alt="Scottish Highlands" class="ss-tb" loading="lazy" />

<video muted class="ss-tbbasic">
  <source src="${ tacs.root }videos/highlands-01h.webm" type="video/webm" media="(width > 800px) and (height > 800px)">
  <source src="${ tacs.root }videos/highlands-01l.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/scotland-03.avif" width="1600" height="900" alt="Scottish Highlands" class="ss-subtle" loading="lazy" />
