<video autoplay playsinline muted preload="auto" data-rate="0.7">
  <source src="${ tacs.root }videos/castle-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/castle-01h.webm" type="video/webm">
</video>

<video playsinline muted preload="metadata" class="ss-btbasic">
  <source src="${ tacs.root }videos/highland-cow-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/highland-cow-01h.webm" type="video/webm">
</video>

<video playsinline muted preload="metadata" class="ss-tbbasic">
  <source src="${ tacs.root }videos/highlands-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/highlands-01h.webm" type="video/webm">
</video>
