<video autoplay playsinline muted preload="auto" class="ss-tbbasic">
  <source src="${ tacs.root }videos/highlands-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/highlands-01h.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/scotland-03.avif" width="1600" height="900" alt="Scottish Highlands" class="ss-bltr" loading="lazy" />

<video playsinline muted preload="metadata" data-rate="0.7" class="ss-tbbasic">
  <source src="${ tacs.root }videos/cook-sauce-01l.webm" type="video/webm" media="(max-width: 700px)">
  <source src="${ tacs.root }videos/cook-sauce-01h.webm" type="video/webm">
</video>

<img src="${ tacs.root }images/scotland-04.avif" width="1600" height="900" alt="Scottish Highlands" class="ss-bltr" loading="lazy" />
