/* hero */
#hero {
  width: 100%;
  height: 50vh;
  margin: 0;
  margin-block-end: 5rem;
  overflow: hidden;

  iframe, img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  iframe {
    display: none;
  }

  img {
    object-fit: cover;
    object-position: 50% 80%;
  }
}


/* JS enabled */
@media (scripting: enabled) {

  #hero:has(iframe) {
    iframe { display: block; }
    img { display: none; }
  }

}
