/* navigation image links */
.imagegrid {

  max-inline-size: var(--layout-list-max);
  margin-block-start: 3em;
  margin-inline: auto;

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(var(--layout-list-item), 1fr));
    gap: var(--layout-list-gap);

    /* three elements wrapping */
    &:has(> :last-child:nth-child(-n + 3)) {
      grid-template-columns: auto;

      @media (width >= 800px) {
        grid-template-columns: repeat(3, 1fr);
      }

    }
  }

  a {
    position: relative;
    display: block;
    background-color: #000;
    overflow: hidden;

    img {
      opacity: 0.5;
      transition: opacity 0.25s linear;
    }

  }

  a::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 20px var(--color-shadow);
  }

  a:hover, a:active, a:focus {
    img { opacity: 1; }
  }

  p {
    position: absolute;
    inline-size: 100%;
    block-size: auto;
    font-size: var(--fsize-2);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    inset-block-start: 50%;
    text-align: center;
    text-wrap: balance;
    line-height: 1;
    margin: 0;
    transform: translateY(-50%);
    color: var(--color-white);
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
  }

}
